[manifest]
version = "1.0.0"
dump_lua = true
priority = 2147483600

[[patches]]
[patches.pattern]
target = '''=[SMODS _ "src/utils.lua"]'''
pattern = " "
position = 'at'
payload = " "
match_indent = true
times = 1

## Plastic Stake - handle reduced interest rate

# if anyone breaks this pattern i'm gonna scream
[[patches]]
[patches.pattern]
target = '''functions/state_events.lua'''
pattern = '''pitch = pitch + 0.06

if total_cashout_rows > 7 then'''
position = 'before'
payload = '''
if G.GAME.modifiers.mp_modified_interest_rate and G.GAME.dollars >= G.GAME.modifiers.mp_modified_interest_rate and not G.GAME.modifiers.TRUE_no_interest then
	local interest = G.GAME.modifiers.mp_modified_interest_rate
	local cap = G.GAME.interest_cap / (5 / interest)
	add_round_eval_row({bonus = true, name='mp_modified_interest', pitch = pitch, dollars = G.GAME.interest_amount*math.min(math.floor(G.GAME.dollars/interest), cap/interest)})
	pitch = pitch + 0.06
	if (not G.GAME.seeded and not G.GAME.challenge) or SMODS.config.seeded_unlocks then
		if G.GAME.interest_amount*math.min(math.floor(G.GAME.dollars/interest), cap/interest) == G.GAME.interest_amount*G.GAME.interest_cap/interest then 
			G.PROFILES[G.SETTINGS.profile].career_stats.c_round_interest_cap_streak = G.PROFILES[G.SETTINGS.profile].career_stats.c_round_interest_cap_streak + 1
		else
			G.PROFILES[G.SETTINGS.profile].career_stats.c_round_interest_cap_streak = 0
		end
	end
	check_for_unlock({type = 'interest_streak'})
	dollars = dollars + G.GAME.interest_amount*math.min(math.floor(G.GAME.dollars/interest), cap/interest)
end
'''
match_indent = true
times = 1

# doing all this because there's a random 5 we can't change (as usual)
# could maybe override but who knows what could happen
[[patches]]
[patches.pattern]
target = '''functions/common_events.lua'''
pattern = '''elseif config.name == 'hands' then'''
position = 'before'
payload = '''
elseif config.name == 'mp_modified_interest' then
	table.insert(left_text, {n=G.UIT.T, config={text = num_dollars, scale = 0.8*scale, colour = G.C.MONEY, shadow = true, juice = true}})
	table.insert(left_text,{n=G.UIT.O, config={object = DynaText({string = {" "..localize{type = 'variable', key = 'interest', vars = {G.GAME.interest_amount, G.GAME.modifiers.mp_modified_interest_rate, G.GAME.interest_amount*G.GAME.interest_cap/5}}}, colours = {G.C.UI.TEXT_LIGHT}, shadow = true, pop_in = 0, scale = 0.4*scale, silent = true})}})
'''
match_indent = true
times = 1